local.scr.dir=./scr
local.working.dir=./working
file.ingestion.type=SEQ_SMALL_FILES
number.of.threads=4
hdfs.copy.type=DISTCP
dst.f1.path=/tmp/seq/f1
dst.f1.owner=root
dst.f1.group=root
dst.f1.permission=770
dst.f1.createDir=true
dst.f1.replaceExistingFile=false
dst.f2.path=/tmp/seq/f2
dst.f2.owner=hdfs
dst.f2.group=supergroup
dst.f2.permission=770
dst.f2.createDir=true
dst.f3.replaceExistingFile=false
dst.f3.path=/tmp/seq/f3
dst.f3.owner=root
dst.f3.group=supergroup
dst.f3.permission=770
dst.f3.createDir=true
dst.f3.replaceExistingFile=false